:root{
  --header-bg: rgba(0, 0, 0, 0.8)
}
.Header {
  align-items: center;
  grid-area: head;
  position: fixed;
  width: 100%;
  z-index: 999;
}
.header-content{
  display: flex;
  align-items: center;
  padding: 0  20px;
  &.scrolled {
    z-index: 99;
    background-color: var(--header-bg); /* Add your desired background color here */
    transition: background-color 0.3s ease; /* Optional: Add a transition effect */
  }
}
