@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.AiDiagnostics-div{
  width: 940px;
  height: 199px;
  flex-shrink: 0;
}
.AiDiagnostics-span{
  position: absolute;
  color: #FFFFFF;
  text-align: center;
  font-family: Inter,serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.AiDiagnostics-img{
  width: 940px;
  height: 199px;
 }