.profile{
  position: relative;
  top: 1px;
  z-index: 10;
  cursor: pointer;
}
.ImgProfile{
  display: flex;
  align-content: center;
  width: 2.1vw;
  margin: 3px 0;
}

.circle{
  position: absolute;
  top: 7px;
  right: 1px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #00FF66;
}