.profile{
  position: relative;
  z-index: 10;
  cursor: pointer;

  margin: 2px 0;
}
.ImgProfile{
  display: flex;
  align-content: center;
}
.circle{
  position: absolute;
  top: 7px;
  right: 7px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #00FF66;
}