.profile{
  position: relative;
  top: 1px;
  z-index: 1;
}
.ImgProfile{
   width: 2.4vw;
}

.circle{
  position: absolute;
  top: 7px;
  right: 1px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #00FF66;
}