.modal-profile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.32);
}
.hr-profile{
  border: 1px solid aqua;
}
.modal-content-profile{
  max-width: 250px;
  width: 100%;
  position: fixed;
  top: 16.3%;
  right: -6.5%;
  background-color: #222831;
  transform: translate(-50%,-50%);
  padding: 1rem;
  border-radius: 0 0 15px 15px;

}
.profile{
  display: flex;
  align-items: center;
  .profile-img{
    margin-right: 10px;
  }
}
.profile-name{
  font-size: 20px;
  color: #FFFFFF;
}

.profile-circle{
  position: absolute;
  left: 42px;

}
.profile-modal-nav{
  display: block;
}
.profile-modal-item{
   max-width: 250px;
   display: flex;
   color: white;
   font-size: 17px;
   justify-content: center;
   line-height: 2.5;

 }
.profile-a{
   text-decoration: none;
   color: white;
  font-weight: 400;
 }


